
<p>The fields below are <em>optional</em>. 

<mtapp:setting
    id="twitter_consumer_key"
    label="<__trans phrase="Twitter Consumer Key">"
    hint="<__trans phrase="The consumer key for the Twitter application associated with your blog.">"
    show_hint="1">
    <input name="twitter_consumer_key" id="twitter_consumer_key" value="<mt:var name="twitter_consumer_key" escape="html">" size="40" />
</mtapp:setting>
<mtapp:setting
    id="twitter_consumer_secret"
    label="<__trans phrase="Twitter Consumer Secret">"
    hint="<__trans phrase="The consumer secret for the Twitter application associated with your blog.">"
    show_hint="1">
    <input name="twitter_consumer_secret" id="twitter_consumer_secret" value="<mt:var name="twitter_consumer_secret" escape="html">" size="40" />
</mtapp:setting>
